:root{
  --background-color: #000807;
  --small-text: #2ab5a8;
  --button-background-color: #0d4649;
  --button-dark-background-color: #040e0f;
  --button-equalsto-background-color: #26a094;
  --input-color-text: #2ec4b6;
}

*{
  box-sizing: border-box;
}

.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--background-color);
}

.row-container{
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.custom-btn{
  background-color: var(--button-dark-background-color);
  color: #ffffff;
  width: 100%;
  height: 80%;
  border: 1px solid var(--background-color);
  font-size: 25px;
  font-weight: bold;
}

.btn-right{
  background-color: var(--button-background-color);
}

.btn-equalsto{
  background-color: var(--button-equalsto-background-color);
}

#output-div{
  color: #ffffff;
  font-size: 50px;
  text-align: right;
  margin: 2px 15px 2px;
}

#input-div{
  color: var(--input-color-text);
  text-align: right;
  font-size: 25px;
  margin: 2px 15px 2px;
}